// @font-face {
// 	font-family: SF-Pro-Display-Thin;
// 	src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Thin.otf);
// }
// @font-face {
// 	font-family: SF-Pro-Display-Regular;
// 	src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf);
// }
// @font-face {
// 	font-family: SF-Pro-Display-Semibold;
// 	src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Semibold.otf);
// }
// @font-face {
// 	font-family: SF-Pro-Display-Heavy;
// 	src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Heavy.otf);
// }
@font-face {
	font-family: SF-UI-Display-Thin;
	src: url(../fonts/SF-UI/SF-UI-Display-Thin.otf);
}
@font-face {
	font-family: SF-UI-Display-Regular;
	src: url(../fonts/SF-UI/SF-UI-Display-Regular.otf);
}
@font-face {
	font-family: SF-UI-Display-Semibold;
	src: url(../fonts/SF-UI/SF-UI-Display-Semibold.otf);
}
@font-face {
	font-family: SF-UI-Display-Heavy;
	src: url(../fonts/SF-UI/SF-UI-Display-Heavy.otf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
.fontSFThin {font-family: SF-UI-Display-Thin;}
.fontSFRegular {font-family: SF-UI-Display-Regular;}
.fontSFSemibold {font-family: SF-UI-Display-Semibold;}
.fontSFHeavy {font-family: SF-UI-Display-Heavy;}
.fontRobotoMedium {font-family: Roboto-Medium;}





